body {
    padding: 0;
    margin: 0;
    background-color: #F5E8E4;
    display: flex;
    justify-content: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
    border: 2px solid #4C3A51;
    border-radius: 10px;
  }

  #message-container div {
    background-color: #F37878;
    padding: 5px;
    border-radius: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #f6c0c0;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: #F5E8E4;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }
  #message-input{
      background-color: #FAD9A1;
      font-size: 20px;
      border: 2px solid #774360;
  }
  #send-button{
      background-color: #B25068;
      font-size: 20px;
      color: white;
      padding: 10px 24px;
      border: 2px solid #E7AB79;
      border-radius: 4px;
  }
  #send-button:hover{
      background-color: #E7AB79;
      border: 2px solid #B25068;
  }

  #message-input {
    flex-grow: 1;
  }